.btn {
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    gap: 10px
}

/* Tamanhos */
.btn.p {
    height: 36px;
    padding: 0 12px;
}

.btn.g {
    height: 44px;
    padding: 0 24px;
}

/* Variantes */
.btn.primario {
    background-color: var(--color-azul-800);
    color: white;
}

.btn.primario:hover {
    background-color: var(--color-azul-900);
}

.btn.secundario {
    background-color: color-mix(
        in oklab,
        var(--color-azul-800) 10%,
        transparent
    );
    color: var(--color-azul-800);
}

.btn.secundario:hover {
    background-color: color-mix(
        in oklab,
        var(--color-azul-800) 20%,
        transparent
    );
}

.btn.terciario {
    background-color: transparent;
    color: var(--color-azul-800);
    /* border: 1px solid var(--color-azul-800); */
}

.btn.terciario:hover {
    background-color: var(--color-cinza-100)
}

.btn.danger {
    background-color: var(--color-vermelho-700);
    color: white;
}
.btn.danger:hover {
    background-color: var(--color-vermelho-800);
}
